<!-- Start Main Banner -->
<!-- <div id="home" class="uk-banner main-banner "> -->
    <!-- <div class="d-table"> -->
        <!-- <div class="d-table-cell"> -->
            <!-- <div class="uk-container"> -->
               <div class="container-fluid main-banner">
        <div class="row">
            <div class="col-sm-4 main-banner-content">
                <h1>Welcome to Metro <br>Electric Vehicles!</h1>
                <p>Your premier destination for electric vehicle charging solutions and education. Serving the Atlanta, Georgia, and Southern California, California metro areas.</p>
                <p>⚡ Available 7 nights a week, 6 PM to 11 PM ⚡</p>
                <p>🔌 EV Charging Installation Experts at Your Service 🔌</p>
                <p>Don't let your schedule hold you back from powering up! We work when you're home</p>
                <p>Specializing in:
                    <ol>
                        <li>Metro EV brand chargers</li>
                        <li>Tesla Wall Chargers</li>
                        <li>Nema-1450 outlets</li>
                        <li>Charge Point</li>
                        <li>Blink Charging Systems</li>
                        <li>GMC Chargers</li>
                    </ol>
                <ul>
                    <li>Why Choose Us?</li>
                    <li>✅ Licensed & Insured professionals</li>
                    <li>✅ Trusted by 200+ happy EV owners</li>
                    <li>✅ Tailored solutions for your home</li>
                    <li>✅ After-hours service at no extra cost</li>
                </ul>
                <p>Ready to join the future of driving?</p>
                <p>🚗💨 Schedule your installation now and get charged up tomorrow! 🚗💨</p>
                <p>Call us or book online – Your EV deserves the best, and so do you!</p>
                <p>Schedule your installation now!</p>
                <a href="#" class="btn btn-primary">Get Started</a>
                <a href="#" class="btn btn-secondary">Watch Video</a>
            </div>
            <div class="col-sm-8">
                <!-- Image or additional content can go here -->
            </div>
        </div>
    </div>
        <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->
<!-- End Main Banner -->

<!-- Start Features Area -->
<section class="uk-features features-area uk-section uk-padding-remove-top">
    <div class="uk-container">
        <div class="uk-grid uk-grid-match uk-grid-medium uk-child-width-1-3@m">
            <div class="uk-item">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="assets/img/div-1.png" alt="cost">
                    </div>
                    <h3>Lower running costs</h3>
                    <div class="bar"></div>
                    <p>The running cost of an electric vehicle is much lower than an equivalent petrol or diesel vehicle.</p>

                    <div class="dot-img">
                        <img src="assets/img/dot.png" alt="dot" class="color-dot">
                        <img src="assets/img/white-dot.png" alt="dot" class="white-dot">
                    </div>

                    <div class="animation-img">
                        <img src="assets/img/shape1.svg" alt="image">
                        <img src="assets/img/shape2.svg" alt="image">
                        <img src="assets/img/shape3.svg" alt="image">
                        <img src="assets/img/shape1.svg" alt="image">
                        <img src="assets/img/shape2.svg" alt="image">
                        <img src="assets/img/shape3.svg" alt="image">
                        <img src="assets/img/shape1.svg" alt="image">
                        <img src="assets/img/shape3.svg" alt="image">
                    </div>
                </div>
            </div>

            <div class="uk-item">
                <div class="single-features-box ">
                    <div class="icon">
                        <img src="assets/img/wrench.png" alt="cost">
                    </div>
                    <h3>Low maintenance cost</h3>
                    <div class="bar"></div>
                    <p>Electric vehicles have very low maintenance costs because they don’t have as many moving parts as an internal combustion vehicle.</p>

                    <div class="dot-img">
                        <img src="assets/img/dot.png" alt="dot" class="color-dot">
                        <img src="assets/img/white-dot.png" alt="dot" class="white-dot">
                    </div>

                    <div class="animation-img">
                        <img src="assets/img/shape1.svg" alt="image">
                        <img src="assets/img/shape2.svg" alt="image">
                        <img src="assets/img/shape3.svg" alt="image">
                        <img src="assets/img/shape1.svg" alt="image">
                        <img src="assets/img/shape2.svg" alt="image">
                        <img src="assets/img/shape3.svg" alt="image">
                        <img src="assets/img/shape1.svg" alt="image">
                        <img src="assets/img/shape3.svg" alt="image">
                    </div>
                </div>
            </div>

            <div class="uk-item">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="assets/img/div-3.png" alt="cost">
                    </div>
                    <h3> Zero Tailpipe Emissions</h3>
                    <div class="bar"></div>
                    <p>Driving an electric vehicle can help you reduce your carbon footprint because there will be zero tailpipe emissions. </p>

                    <div class="dot-img">
                        <img src="assets/img/dot.png" alt="dot" class="color-dot">
                        <img src="assets/img/white-dot.png" alt="dot" class="white-dot">
                    </div>

                    <div class="animation-img">
                        <img src="assets/img/shape1.svg" alt="image">
                        <img src="assets/img/shape2.svg" alt="image">
                        <img src="assets/img/shape3.svg" alt="image">
                        <img src="assets/img/shape1.svg" alt="image">
                        <img src="assets/img/shape2.svg" alt="image">
                        <img src="assets/img/shape3.svg" alt="image">
                        <img src="assets/img/shape1.svg" alt="image">
                        <img src="assets/img/shape3.svg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Area -->

<div class="separate">
    <div class="br-line"></div>
</div>

<!-- Start About Area -->
<section id="about" class="uk-about about-area uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-match uk-grid-medium uk-child-width-1-2@m uk-child-width-1-1@s">
            <div class="item">
                <div class="about-content">
                    <div class="uk-section-title section-title">
                        <span>About Us</span>
                        <h2>Professional Metro EV Charger Station Installation Services</h2>
                        <div class="bar"></div>
                    </div>

                    <div class="about-text">
                        <div class="icon">
                            <i class="flaticon-quality"></i>
                        </div>
                        <h3>Can a Normal Electrician Install an EV Charger</h3>
                        <p>Metro EV is dedicated to advancing the electric vehicle revolution by providing top-tier charging station installations and education services.</p>
                        <p>Our mission is to make electric vehicle ownership accessible, convenient, and enjoyable for everyone.</p>
                        <p>Meet our team of certified technicians committed to delivering excellence in every installation.</p>
                        <p> Read testimonials from our delighted customers who have experienced the Metro EV difference.</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="about-img">
                    <img src="assets/img/full-shot-woman-enjoying-coffee-near-car.jpg" class="about-img1" alt="about-img">
                    <img src="assets/img/full-shot-man-charging-electric-car.jpg" class="about-img2" alt="about-img">
                    <img src="assets/img/1.png" class="shape-img" alt="shape">

                    <a routerLink="" class="uk-button uk-button-default lax" data-lax-preset="driftLeft">More About Us <i class="flaticon-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<div class="separate">
    <div class="br-line"></div>
</div>

<!-- Start Services Area -->
<section id="services" class="services-area uk-services uk-section">
    <div class="uk-container">
        <div class="uk-section-title section-title">
            <span>What We Do</span>
            <h2>Our Services</h2>
            <div class="bar"></div>

            <a routerLink="" class="uk-button uk-button-default">All Services</a>
        </div>

        <div class="uk-grid uk-grid-match uk-grid-medium uk-child-width-1-3@m uk-child-width-1-2@s">
            <div class="item">
                <div class="single-services">
                    <div class="icon">
                        <img src="assets/img/house.png" alt="house">
                    </div>
                    <h3>Electrical Home Safety</h3>

                    <i class="flaticon-right link-btn"></i>

                    <a routerLink="" class="link uk-position-cover"></a>
                </div>
            </div>

            <div class="item">
                <div class="single-services">
                    <div class="icon">
                        <img src="assets/img/generator.png" alt="house">
                    </div>
                    <h3>Generator Installation</h3>

                    <i class="flaticon-right link-btn"></i>

                    <a routerLink="" class="link uk-position-cover"></a>
                </div>
            </div>

            <div class="item">
                <div class="single-services">
                    <div class="icon">
                        <img src="assets/img/outlet.png" alt="house">
                    </div>
                    <h3>GFI Electrical Outlets</h3>

                    <i class="flaticon-right link-btn"></i>

                    <a routerLink="" class="link uk-position-cover"></a>
                </div>
            </div>

            <div class="item">
                <div class="single-services">
                    <div class="icon">
                        <img src="assets/img/power-cable.png" alt="house">
                    </div>
                    <h3>Landscape Lighting</h3>

                    <i class="flaticon-right link-btn"></i>

                    <a routerLink="" class="link uk-position-cover"></a>
                </div>
            </div>

            <div class="item">
                <div class="single-services">
                    <div class="icon">
                        <img src="assets/img/house.png" alt="house">
                    </div>
                    <h3>House Rewires</h3>

                    <i class="flaticon-right link-btn"></i>

                    <a routerLink="" class="link uk-position-cover"></a>
                </div>
            </div>

            <div class="item">
                <div class="single-services">
                    <div class="icon">
                        <img src="assets/img/electrician.png" alt="house">
                    </div>
                    <h3>Lighting Installation</h3>

                    <i class="flaticon-right link-btn"></i>

                    <a routerLink="" class="link uk-position-cover"></a>
                </div>
            </div>

            <div class="item">
                <div class="single-services">
                    <div class="icon">
                        <img src="assets/img/solar-panel.png" alt="house">
                    </div>
                    <h3>Panel Upgrades</h3>

                    <i class="flaticon-right link-btn"></i>

                    <a routerLink="" class="link uk-position-cover"></a>
                </div>
            </div>

            <div class="item">
                <div class="single-services">
                    <div class="icon">
                        <img src="assets/img/smoke-detector.png" alt="house">
                    </div>
                    <h3>Smoke Detectors</h3>

                    <i class="flaticon-right link-btn"></i>

                    <a routerLink="" class="link uk-position-cover"></a>
                </div>
            </div>

            <div class="item">
                <div class="single-services">
                    <div class="icon">
                        <img src="assets/img/short-circuit.png" alt="house">
                    </div>
                    <h3>New Electrical Circuits</h3>

                    <i class="flaticon-right link-btn"></i>

                    <a routerLink="" class="link uk-position-cover"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->

<div class="separate">
    <div class="br-line"></div>
</div>

<!-- Start Project Area -->
<section id="project" class="project-area uk-project uk-section">
    <div class="uk-container">
        <div class="uk-section-title section-title">
            <span>Our Featured Products</span>
            <h2>Featured Products</h2>
            <div class="bar"></div>

            <a routerLink="" class="uk-button uk-button-default">Featured Products</a>
        </div>
    </div>

    <div class="project-slides owl-carousel owl-theme">

        <div class="single-project">
            <a routerLink="" class="project-img">
                <img src="assets/img/project-new-2.jpg" alt="image">
            </a>

            <div class="project-content">
                <h3><a routerLink="">Electric Vehicle Apparel:</a></h3>
                <p>Show your passion for electric vehicles with our eco-friendly apparel collection.</p>
            </div>
        </div>

        <div class="single-project">
            <a routerLink="" class="project-img">
                <img src="assets/img/project-new-3.jpg"  alt="image">
            </a>

            <div class="project-content">
                <h3><a routerLink="">Charging Stations:</a></h3>
                <p>Choose from a range of charging stations for home or commercial use.</p>
            </div>
        </div>

        <div class="single-project">
            <a routerLink="" class="project-img">
                <img src="assets/img/project-new-4.jpg" alt="image">
            </a>

            <div class="project-content">
                <h3><a routerLink="">Charging Station Holders:</a></h3>
                <p>Keep your charging station organized and accessible with our holders and mounts.</p>
            </div>
        </div>

        <div class="single-project">
            <a routerLink="" class="project-img">
                <img src="assets/img/project-new-5.jpg" alt="image">
            </a>

            <div class="project-content">
                <h3><a routerLink="">DIY Installation Guide:</a></h3>
                <p>Gain confidence with step-by-step instructions for installing your own charging station.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Project Area -->

<div class="separate">
    <div class="br-line"></div>
</div>

<!-- Start Feedback Area -->
<section id="testimonials" class="feedback-area uk-section uk-feedback">
    <div class="uk-container">
        <div class="uk-grid uk-grid-match uk-grid-medium uk-child-width-1-2@m uk-child-width-1-1@s">
            <div class="item">
                <div class="feedback-img">
                    <img src="assets/img/test.jpg" alt="image">

                    <img src="assets/img/1.png" class="shape-img" alt="image">

                    <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube"><i class="flaticon-multimedia"></i> Watch Video</a>
                </div>
            </div>

            <div class="item">
                <div class="feedback-inner">
                    <div class="uk-section-title section-title">
                        <span>What Client Says About US</span>
                        <h2>Our Testimonials</h2>
                        <div class="bar"></div>
                    </div>

                    <div class="feedback-slides owl-carousel owl-theme">
                        <div class="single-feedback">
                            <i class="flaticon-quote"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

                            <div class="client">
                                <h3>Jason Statham</h3>
                                <span>Founder at Envato</span>
                            </div>
                        </div>

                        <div class="single-feedback">
                            <i class="flaticon-quote"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

                            <div class="client">
                                <h3>Jason Statham</h3>
                                <span>Founder at Envato</span>
                            </div>
                        </div>

                        <div class="single-feedback">
                            <i class="flaticon-quote"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

                            <div class="client">
                                <h3>Jason Statham</h3>
                                <span>Founder at Envato</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Feedback Area -->

<!-- Start Partner Area -->
<div class="partner-area uk-section uk-padding-remove-top">
    <div class="uk-container">
        <div class="partner-slides owl-carousel owl-theme">
            <div class="item">
                <a href="#">
                    <img src="assets/img/partner1.png" alt="image">
                </a>
            </div>

            <div class="item">
                <a href="#">
                    <img src="assets/img/partner2.png" alt="image">
                </a>
            </div>

            <div class="item">
                <a href="#">
                    <img src="assets/img/partner3.png" alt="image">
                </a>
            </div>

            <div class="item">
                <a href="#">
                    <img src="assets/img/partner4.png" alt="image">
                </a>
            </div>

            <div class="item">
                <a href="#">
                    <img src="assets/img/partner5.png" alt="image">
                </a>
            </div>

            <div class="item">
                <a href="#">
                    <img src="assets/img/partner6.png" alt="image">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Partner Area -->

<section id="faq">
    <div class="uk-container">
        <div class="uk-section-title section-title">
            <span>FAQ</span>
            <h2>Frequently Asked Questions </h2>
            <P>Get answers to frequently asked questions about our services, installations, and more</P>
            <div class="bar"></div>
        </div>
        <div class="inner uk-width-expand">
        <div class="services-details-desc">
        <div class="our-work-benefits">
            <ul class="accordion">
                <li class="accordion-item">
                    <a class="accordion-title active" href="javascript:void(0)">
                        <i class="flaticon-plus"></i>
                        Which material types can you work with?
                    </a>

                    <p class="accordion-content show">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class="flaticon-plus"></i>
                        Is Smart Lock required for instant apps?
                    </a>

                    <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class="flaticon-plus"></i>
                        Can I have multiple activities in a single feature?
                    </a>

                    <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class="flaticon-plus"></i>
                        Can I share resources between features?
                    </a>

                    <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                </li>
            </ul>
        </div>
    </div>
    </div>
    </div> 
</section>

<!-- Start Team Area -->
<section id="team" class="team-area uk-team uk-section">
    <div class="uk-container">
        <div class="uk-section-title section-title">
            <span>Meet Our Experts</span>
            <h2>Our Team</h2>
            <div class="bar"></div>

            <a routerLink="" class="uk-button uk-button-default">View All</a>
        </div>
    </div>

    <div class="team-slides owl-carousel owl-theme">
        <div class="single-team">
            <ul class="team-social">
                <li><a href="#"><i class="flaticon-logo"></i></a></li>
                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                <li><a href="#"><i class="flaticon-linkedin"></i></a></li>
                <li><a href="#"><i class="flaticon-logo-1"></i></a></li>
            </ul>

            <img src="assets/img/team1.jpg" alt="image">

            <div class="team-content">
                <h3>Josh Buttler</h3>
                <span>Content Writer</span>
            </div>
        </div>

        <div class="single-team">
            <ul class="team-social">
                <li><a href="#"><i class="flaticon-logo"></i></a></li>
                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                <li><a href="#"><i class="flaticon-linkedin"></i></a></li>
                <li><a href="#"><i class="flaticon-logo-1"></i></a></li>
            </ul>

            <img src="assets/img/team2.jpg" alt="image">

            <div class="team-content">
                <h3>Emili Lucy</h3>
                <span>Designer</span>
            </div>
        </div>

        <div class="single-team">
            <ul class="team-social">
                <li><a href="#"><i class="flaticon-logo"></i></a></li>
                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                <li><a href="#"><i class="flaticon-linkedin"></i></a></li>
                <li><a href="#"><i class="flaticon-logo-1"></i></a></li>
            </ul>

            <img src="assets/img/team3.jpg" alt="image">

            <div class="team-content">
                <h3>Brat Smith</h3>
                <span>Manager</span>
            </div>
        </div>

        <div class="single-team">
            <ul class="team-social">
                <li><a href="#"><i class="flaticon-logo"></i></a></li>
                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                <li><a href="#"><i class="flaticon-linkedin"></i></a></li>
                <li><a href="#"><i class="flaticon-logo-1"></i></a></li>
            </ul>

            <img src="assets/img/team4.jpg" alt="image">

            <div class="team-content">
                <h3>julie Smith</h3>
                <span>Manager</span>
            </div>
        </div>

        <div class="single-team">
            <ul class="team-social">
                <li><a href="#"><i class="flaticon-logo"></i></a></li>
                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                <li><a href="#"><i class="flaticon-linkedin"></i></a></li>
                <li><a href="#"><i class="flaticon-logo-1"></i></a></li>
            </ul>

            <img src="assets/img/team1.jpg" alt="image">

            <div class="team-content">
                <h3>Steve Eva</h3>
                <span>Creative Designer</span>
            </div>
        </div>

        <div class="single-team">
            <ul class="team-social">
                <li><a href="#"><i class="flaticon-logo"></i></a></li>
                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                <li><a href="#"><i class="flaticon-linkedin"></i></a></li>
                <li><a href="#"><i class="flaticon-logo-1"></i></a></li>
            </ul>

            <img src="assets/img/team2.jpg" alt="image">

            <div class="team-content">
                <h3>Emmaa</h3>
                <span>Director</span>
            </div>
        </div>
    </div>
</section>
<!-- End Team Area -->

<!-- Start Subscribe Area -->
<section class="subscribe-area uk-section uk-subscribe bg-gray">
    <div class="uk-container">
        <div class="uk-grid uk-grid-match uk-grid-medium uk-child-width-1-2@m uk-child-width-1-1@s">
            <div class="item">
                <h3>Subscribe to our newsletter</h3>
            </div>

            <div class="item">
                <form class="newsletter-form">
                    <input type="email" class="uk-input" placeholder="name@gmail.com" name="EMAIL" required autocomplete="off">

                    <button type="submit" class="uk-button uk-button-default">Subscribe Now</button>
                </form>
            </div>
        </div>
    </div>

    <div class="shape"><img src="assets/img/footer-shape1.png" alt="shape"></div>
</section>
<!-- End Subscribe Area -->

<!-- Start Blog Area -->
<section id="blog" class="blog-area uk-blog uk-section">
    <div class="uk-container">
        <div class="uk-section-title section-title">
            <span>Our Company Blog</span>
            <h2>Latest News</h2>
            <p>Read articles, guides, and news updates related to electric vehicles and charging technology</p>
            <div class="bar"></div>

            <a routerLink="" class="uk-button uk-button-default">View All</a>
        </div>

        <div class="blog-slides owl-carousel owl-theme">
            <div class="single-blog-post">
                <div class="blog-post-image">
                    <a routerLink="">
                        <img src="assets/img/news1.jpg" alt="image">
                    </a>
                </div>

                <div class="blog-post-content">
                    <span class="date">25 April</span>
                    <h3><a routerLink="">Reducing the Fire Hazards of Space Heaters</a></h3>
                    <a routerLink="" class="read-more">Read More</a>
                </div>
            </div>

            <div class="single-blog-post">
                <div class="blog-post-image">
                    <a routerLink="">
                        <img src="assets/img/news2.jpg" alt="image">
                    </a>
                </div>

                <div class="blog-post-content">
                    <span class="date">26 April</span>
                    <h3><a routerLink="">Metro Ev Lighting Installation Cost Guide</a></h3>
                    <a routerLink="" class="read-more">Read More</a>
                </div>
            </div>

            <div class="single-blog-post">
                <div class="blog-post-image">
                    <a routerLink="">
                        <img src="assets/img/news3.jpg" alt="image">
                    </a>
                </div>

                <div class="blog-post-content">
                    <span class="date">27 April</span>
                    <h3><a routerLink="">Four Must-Do’s Before Buying an Electric Car</a></h3>
                    <a routerLink="" class="read-more">Read More</a>
                </div>
            </div>

            <div class="single-blog-post">
                <div class="blog-post-image">
                    <a routerLink="">
                        <img src="assets/img/news2.jpg" alt="image">
                    </a>
                </div>

                <div class="blog-post-content">
                    <span class="date">25 April</span>
                    <h3><a routerLink="">Prevent an Emergency Call to the Fire Dept</a></h3>
                    <a routerLink="" class="read-more">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->

<div class="separate">
    <div class="br-line"></div>
</div>

<!-- Start Contact Area -->
<section id="contact" class="contact-area uk-contact uk-section">
    <div class="uk-container">
        <div class="uk-section-title section-title">
            <span>Let's Talk</span>
            <h2>Get in Touch</h2>
            <p>Contact us for inquiries, bookings, or support</p>
        </div>

        <div class="uk-grid uk-grid-match uk-grid-medium uk-child-width-1-2@m uk-child-width-1-1@s">
            <div class="item">
                <div class="map-img">
                    <img src="assets/img/map.png" alt="map">

                    <div class="location uk-location1">
                        <a href="#" class="active">
                            <div class="location-info">
                                <h5>California Metro Areas</h5>
                                <span></span>
                            </div>
                        </a>
                    </div>

                    <div class="location uk-location2">
                        <a href="#">
                            <div class="location-info">
                                <h5>London</h5>
                                <span>357/71 Collective Street</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="item">
                <form id="contactForm">
                    <div class="uk-grid uk-grid-match uk-grid-medium uk-child-width-1-2@m uk-child-width-1-1@s">
                        <div class="item uk-margin">
                            <input type="text" class="uk-input" name="name" id="name" placeholder="Name">
                        </div>

                        <div class="item uk-margin">
                            <input type="email" class="uk-input" name="email" id="email" placeholder="Email">
                        </div>

                        <div class="item uk-margin">
                            <input type="text" class="uk-input" placeholder="Phone">
                        </div>

                        <div class="item uk-margin">
                            <input type="text" class="uk-input" name="subject" id="subject" placeholder="Subject">
                        </div>
                    </div>

                    <div class="item">
                        <textarea name="message" class="uk-textarea" id="message" cols="30" rows="4" placeholder="Your Message"></textarea>
                    </div>

                    <button type="submit" class="uk-button uk-button-default">Submit Message</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Area -->